/* General styles */
body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}


a {
  color: rgb(60%, 0%, 0%);
}

a:visited {
  color: rgb(60%, 0%, 0%);
}

a:hover {
  color: rgb(60%, 0%, 0%);
}

a:active {
  color: rgb(60%, 0%, 0%);
}

header {
  background-color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.2s;
}

nav ul li a:hover {
  color: #fff;
}


/* Add the new .content class */
.content {
  max-width: 1000px;
  padding-left: 5rem;
}

.post {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  text-align: justify;
}

.container {
  display: flex; /* Use flexbox for a responsive layout */
  justify-content: space-between; /* Space between the columns */
  margin: 20px; /* Outer margin for the container */
}

.column {
  width: 48%; /* Each column takes up nearly half of the container */
  padding: 10px; /* Padding inside each column */
}


/* Add any additional styles needed for your website below */

h1, h2 {
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem; /* Size of the title */
    margin: 2rem 0; /* Top and bottom margin of 2rem */
    margin-left: -3rem; /* Pull the title left to counter the parent's margin */
    margin-right: -3rem; /* Pull the title right to counter the parent's margin */
}

h3 {
  font-size: 1.5rem; /* Size of the title */
    margin: 2rem 0; /* Top and bottom margin of 2rem */
    margin-left: 2rem; 
}


p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.publications {
  max-width: 1000px;
  padding-left: 5rem;
  text-align: justify;
  list-style-type: disc;
  margin-bottom: 1rem;
}

.publications li {
  margin-bottom: 0.5rem;
}

.image {
  text-align: center;
}

.image img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}