/* General styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
a {
  color: rgb(60%, 0%, 0%);
}

a:visited {
  color: rgb(60%, 0%, 0%);
}

a:hover {
  color: rgb(60%, 0%, 0%);
}

a:active {
  color: rgb(60%, 0%, 0%);
}

header {
  background-color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.2s;
}

nav ul li a:hover {
  color: #fff;
}
/* Replace the existing .banner class with this one */
.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  line-height: 1.5;
}

.banner-text h1 {
  font-size: 3rem;
  margin-bottom: 0;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  text-shadow: -3px -3px 1px rgba(0, 0, 0, 0.5);
}
.banner {
  background-image: url('pyrenees.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
position: relative; 
}
.photo-credit {
  position: absolute;
  bottom: 0px; /* use a value greater than 0 to push the text down */
  right: 0px; /* position the text on the bottom-right corner */
  font-size: 0.8rem;
  color: white;
  padding: 5px;
}
/* Add the new .content class */
.content {
  padding: 1rem;
}

.post {
  padding: 1rem;
  text-align: justify;
  padding-left: 18rem;
  padding-right: 18rem;
}

/* Add any additional styles needed for your website below */


section {
  padding-left: 2rem;
}

section h2 {
  margin-bottom: 1rem;
}

.publications {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.publications li {
  margin-bottom: 0.5rem;
}

.image {
  text-align: center;
  max-width: 1000px;
}


footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}